<body>
    <style type="text/css">
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>

    <table>
        <th>Time</th>
        <th>Post Name</th>
        <th>username</th>
        <th>filepath</th>
        <th>Type Comment</th>
        <th>Add Comment</th>
        <th>Like</th>
        <th>Tag User</th>
        <th>Add Tag</th>
        <th>Share To Friend Group</th>

        <tr>
            <td>{{data.timest}}</td>
            <td>{{data.content_name}}</td>
            <td>{{data.username}}</td>
            <td>{{data.file_path}}</td>
            <form action="/addComment/{{data.id}}" method="POST">
                <td><input type="text" name="comment" placeholder="Add Comment" required /> </br>
                </td>
                <td><input type="submit" value=Comment /></td>
            </form>
            <td>
                <form action="/like/{{data.id}}" method="POST">
                    <input type="submit" value=Like />
                </form>
            </td>
            <form action="/tag/{{data.id}}" method="POST">
                <td><input type="text" name="Tag" placeholder="Tag" required /> </br>
                </td>
                <td><input type="submit" value=Tag /></td>
            </form>
            <form action="/share/{{data.id}}" method="POST">
                <td><input type="text" name="Friend Group" placeholder="Friend Group" required /> </br>
                    <input type="submit" value=Share /></td>
            </form>
        </tr>
    </table>
    <h2>Comments</h2>
    {% for line in comments %}
    <tr>
        <br/>
        <td>{{line.comment_text}}
            <td>

    </tr>
    {% endfor %}
    <h2><br/> Tags </h2>
    {% for line in tags %}
    <tr>
        <br/>
        <td>{{line.first_name}}<br/>{{line.last_name}}
            <td><br/>
    </tr>
    {% endfor %}

    <a href="/home">Home</a>
</body>
